<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
{% seo %}
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PNLNLGVP');</script>
      <!-- End Google Tag Manager -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FE5GJLN0SM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-FE5GJLN0SM');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href='{{ "/assets/css/main.css" | relative_url }}'>
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
  </head>
  <body class="d-flex flex-column min-vh-100">
        <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PNLNLGVP"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <header>
      <div class="container">
        <div class="row justify-content-centered">
          <div class="col">
          </div>
          <div class="col-12">
            {% include navbar.html %}
          </div>
          <div class="col">
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="row justify-content-centered">
        <div class="col">
        </div>
        <div class="col-12">
          <div class="container">
            <div class="row mb-10" style="margin-top: 10px">
              <div class="col-9 border-right" style="margin-left: 15px; margin-right: 15px;">
                {{ content }}
              </div>
              <div class="col-3">
                {% include sidebar.html %}
              </div>
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
    </main>
    <footer class="mt-auto fixed-bottom">
      <div class="container">
        <div class="row justify-content-centered">
          <div class="col"></div>
          <div class="col-12"> 
              {% include footer.html %}
          </div>
          <div class="col"></div>
        </div>
      </div>
    </footer>
  </body>
</html>